* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  line-height: 1.5;
  color: var(--black);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding-right: var(--margin-02);
  padding-left: var(--margin-02);
}

h1,
h2 {
  width: 100%;
  text-align: left;
  margin: 0;
}

h2 span {
  color: var(--red);
}

h1 {
  font-size: 1.5em;
  font-weight: 900;
}

h2 {
  font-size: 1.3em;
  margin-top: 0;
  padding-top: 0;
  font-weight: 700;
}

h3 {
  margin: 0;
  font-weight: 100;
}

main {
  width: 100%;
  height: 100%;

  flex: 1;
  display: flex;
  background: var(--black);
  color: var(--white);
}

section {
  width: 100%;
}

a {
  color: var(--red);
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--red-01);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 40em) {
  .hide-mobile {
    display: none !important;
  }
}
