.error h2 {
  font-size: 3em;
  text-transform: uppercase;
}

.error h2 span {
  color: var(--red);
}

.error p {
  font-size: 2em;
  font-style: italic;
}

.error {
  flex: 1;
  display: flex;
  background: var(--black);
  color: var(--white);
}

.error .wrapper {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.error pre {
  font-size: 1.2em;
  font-family: var(--font-mono);
  border: 1px solid var(--red);
  padding: var(--margin-02);
  margin: 0;
}
