.feed-main {
  width: 100%;
  background: var(--black);
  color: var(--white);
  padding-top: var(--margin-04);
  margin-bottom: var(--margin-04);
}

.el-list {
  margin-top: var(--margin-02);
}

.el-list article {
  display: flex;
  flex-flow: column;
}

.el-list article .item-container {
  display: flex;
  flex-flow: row;
}

.el-list article:not(:last-child) {
  margin-bottom: var(--margin-06);
}

.el-list article a,
.el-list article h2 {
  width: 100%;
}

.el-list article header {
  display: flex;
  flex-flow: column;
  margin-bottom: var(--margin-02);
}
.el-list article .item-dates p {
  margin: 0;
}

.el-list article .audio-player {
  flex: 1 1 auto;
}

.el-list article .item-cover {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  margin-right: var(--margin-04);
}

audio {
  width: 100%;
}

.feed {
  background: var(--black);
}
