#footer {
  background: var(--black);
  padding-bottom: var(--margin-01);
  padding-top: var(--margin-01);
}

#footer h2 {
  text-align: center;
}

#footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
