form {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}

input {
  flex: 1;
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  color: var(--white);
  padding: var(--margin-01);
  border: 1px solid var(--white);
  transition: all 0.2s ease;
}

input:hover,
input:focus {
  border: 1px solid var(--red);
}

input[type='submit'] {
  flex: 0 0 auto;
  cursor: pointer;
  font-weight: 700;
}

input[type='submit']:hover {
  color: var(--red);
}
