#header {
  background: var(--black);
  color: var(--white);
  font-size: 0.8em;
  padding-bottom: var(--margin-01);
  padding-top: var(--margin-01);
}

#header h2 {
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  margin-right: var(--margin-02);
}

#header .title,
#header .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#header .title a {
  color: var(--white);
}

#header .title a span {
  color: var(--red);
}

#header .wrapper {
  justify-content: space-between;
}

#header nav ul {
  list-style: none;
  padding: none;
}
