main.home {
  flex: 1;
  height: 100%;
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

main.home form {
}

main.home input {
  font-size: 3em;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0;
  padding-bottom: var(--margin-02);
  width: 100%;
  overflow: hidden;
}

main.home input[type='submit'] {
  display: none;
}
