:root {
  --margin-01: 8px;
  --margin-h: calc(var(--margin-01) / 2);
  --margin-q: calc(var(--margin-01) / 4);
  --margin-02: calc(var(--margin-01) * 2);
  --margin-03: calc(var(--margin-01) * 3);
  --margin-04: calc(var(--margin-01) * 4);
  --margin-05: calc(var(--margin-01) * 5);
  --margin-06: calc(var(--margin-01) * 6);
  --margin-07: calc(var(--margin-01) * 7);
  --margin-08: calc(var(--margin-01) * 8);
  --margin-09: calc(var(--margin-01) * 9);
  --margin-10: calc(var(--margin-01) * 10);

  --red: #ed1b23;
  --red-01: #ec4e20;
  --black: #000;
  --gray: #1d1d1d;
  --white: #fff;

  --font: 'Fira Sans', sans-serif;
  --font-mono: 'Fira Mono', sans-serif;
}
