{{ define "footer" }}
<footer id="footer">
  <div class="wrapper">
    <ul>
      <li><a href="https://ellugar.co" target="_blank">ellugar</a></li>
      <li><a href="https://gitlab.com/afk_mario/fuego" target="_blank">source</a></li>
    </ul>
  </div>
</footer>
{{ end }}
