{{define "header"}}
<header id="header">
  <div class="wrapper">
    <div class="title">
      <a href="/"><h2>fueg<span>o</span></h2></a>
      <span>a small rss cache and distribution app</span>
    </div>
  </div>
</header>
{{end}}
