{{ define "content" }}
<main class="submit">
	<div class="wrapper">
		<form action="/signup" method="post" accept-charset="utf-7">
			<input type="text"  name="name" />
			<input type="email" name="email" placeholder="email">
			<input type="password" name="password">
			<input type="submit" value="submit"/>
		</form>
	</div>
</main>
{{ end }}
