{{ define "content" }}

<div class="feed-main">
	<div class="wrapper">
		<a href="{{.Link}}"><h1>{{.Title}}</h1></a>
		{{if .Author }}
		<section class="feed-info">
			<h3>by {{.Author.Name }}</h3>
		</section>
		{{end}}
		<div class="rich-text">{{.Description | md}}</div>
		<img src="{{.Image.URL}}" alt="{{.Title}}">
	</div>
</div>

<section class="el-list wrapper">
	{{range $el := .Items}}
	<article>
		<div class="item-container">
			{{ if $el.Image}}
			<div class="item-cover">
				<img src="{{$el.Image.URL}}" alt="{{$el.Title}}">
			</div>
			{{end}}
			<div class="item-properties">
				<header>
					<a href="{{$el.Link}}"><h2>{{$el.Title}}</h2></a>
					<div class="item-dates">
						{{ if $el.Updated}}
						<p>u. {{$el.Updated}}</p>
						{{end}}
						<p>{{ toDate $el.Published | date "01/02/06"}}</p>
					</div>
				</header>

				<section class="audio-player">
					{{range $media := $el.Enclosures}}
					<audio controls>
						<source src="{{$media.URL}}" type="audio/mpeg">
							Your browser does not support the audio tag.
					</audio> 
					{{end}}
				</section>

				<section class="summary">
					{{$el.Description | safe }}
				</section>

			</div>
		</div>

		<section class="content">
			{{$el.Content | safe}}
		</section>

	</article>
	{{end}}
</section>
{{ end }}
