{{ define "content" }}
<main class="home">
  <div class="wrapper">
    <form action="/p" method="post" accept-charset="utf-8">
      <input type="url" name="url" id="url" placeholder="Enter your podcast feed url">
      <input type="submit" value="submit"/>
    </form>
  </div>
</main>
{{ end }}
