{{ define "content" }}
<main class="info">
	<div class="wrapper">
		<p><a href="/v/{{.Slug}}">{{.Slug}}</a></p>
		<p><a href="{{.URL}}">external link</a></p>
		<p>f. {{.TimesFetched}}</p>
		<p>r. {{.Refresh}}</p>
		<p>d. {{ .LastFetched | date  "01/02/06 15:04:05" }}</p>
		<form action="/f/{{.Slug}}" method="post" accept-charset="utf-8">
			<input type="submit" value="re-fetch"/>
		</form>
	</div>
</main>
{{ end }}
