:root {
  --margin-01: 8px;
  --margin-h: calc(var(--margin-01) / 2);
  --margin-q: calc(var(--margin-01) / 4);
  --margin-02: calc(var(--margin-01) * 2);
  --margin-03: calc(var(--margin-01) * 3);
  --margin-04: calc(var(--margin-01) * 4);
  --margin-05: calc(var(--margin-01) * 5);
  --margin-06: calc(var(--margin-01) * 6);
  --margin-07: calc(var(--margin-01) * 7);
  --margin-08: calc(var(--margin-01) * 8);
  --margin-09: calc(var(--margin-01) * 9);
  --margin-10: calc(var(--margin-01) * 10);

  --red: #ed1b23;
  --red-01: #ec4e20;
  --black: #000;
  --gray: #1d1d1d;
  --white: #fff;

  --font: 'Fira Sans', sans-serif;
  --font-mono: 'Fira Mono', sans-serif;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  line-height: 1.5;
  color: var(--black);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding-right: var(--margin-02);
  padding-left: var(--margin-02);
}

h1,
h2 {
  width: 100%;
  text-align: left;
  margin: 0;
}

h2 span {
  color: var(--red);
}

h1 {
  font-size: 1.5em;
  font-weight: 900;
}

h2 {
  font-size: 1.3em;
  margin-top: 0;
  padding-top: 0;
  font-weight: 700;
}

h3 {
  margin: 0;
  font-weight: 100;
}

main {
  width: 100%;
  height: 100%;

  flex: 1;
  display: flex;
  background: var(--black);
  color: var(--white);
}

section {
  width: 100%;
}

a {
  color: var(--red);
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--red-01);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 40em) {
  .hide-mobile {
    display: none !important;
  }
}

#header {
  background: var(--black);
  color: var(--white);
  font-size: 0.8em;
  padding-bottom: var(--margin-01);
  padding-top: var(--margin-01);
}

#header h2 {
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  margin-right: var(--margin-02);
}

#header .title,
#header .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#header .title a {
  color: var(--white);
}

#header .title a span {
  color: var(--red);
}

#header .wrapper {
  justify-content: space-between;
}

#header nav ul {
  list-style: none;
  padding: none;
}

#footer {
  background: var(--black);
  padding-bottom: var(--margin-01);
  padding-top: var(--margin-01);
}

#footer h2 {
  text-align: center;
}

#footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}

input {
  flex: 1;
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  color: var(--white);
  padding: var(--margin-01);
  border: 1px solid var(--white);
  transition: all 0.2s ease;
}

input:hover,
input:focus {
  border: 1px solid var(--red);
}

input[type='submit'] {
  flex: 0 0 auto;
  cursor: pointer;
  font-weight: 700;
}

input[type='submit']:hover {
  color: var(--red);
}

main.home {
  flex: 1;
  height: 100%;
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

main.home form {
}

main.home input {
  font-size: 3em;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0;
  padding-bottom: var(--margin-02);
  width: 100%;
  overflow: hidden;
}

main.home input[type='submit'] {
  display: none;
}

.error h2 {
  font-size: 3em;
  text-transform: uppercase;
}

.error h2 span {
  color: var(--red);
}

.error p {
  font-size: 2em;
  font-style: italic;
}

.error {
  flex: 1;
  display: flex;
  background: var(--black);
  color: var(--white);
}

.error .wrapper {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.error pre {
  font-size: 1.2em;
  font-family: var(--font-mono);
  border: 1px solid var(--red);
  padding: var(--margin-02);
  margin: 0;
}


.feed-main {
  width: 100%;
  background: var(--black);
  color: var(--white);
  padding-top: var(--margin-04);
  margin-bottom: var(--margin-04);
}

.el-list {
  margin-top: var(--margin-02);
}

.el-list article {
  display: flex;
  flex-flow: column;
}

.el-list article .item-container {
  display: flex;
  flex-flow: row;
}

.el-list article:not(:last-child) {
  margin-bottom: var(--margin-06);
}

.el-list article a,
.el-list article h2 {
  width: 100%;
}

.el-list article header {
  display: flex;
  flex-flow: column;
  margin-bottom: var(--margin-02);
}
.el-list article .item-dates p {
  margin: 0;
}

.el-list article .audio-player {
  flex: 1 1 auto;
}

.el-list article .item-cover {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  margin-right: var(--margin-04);
}

audio {
  width: 100%;
}

.feed {
  background: var(--black);
}




/*# sourceMappingURL=../main.map*/